html, body {
  font-family: Tahoma, sans-serif !important;
}

circle[class$='-pinned'],
rect[class$='-pinned'],
path[class$='-pinned'] {
  stroke: #ff7f0e;
  stroke-width: 3px;
}

circle[class$='-selected'],
rect[class$='-selected'],
path[class$='-selected'] {
  stroke: #b22222;
  stroke-width: 3px;
}

circle.node-hover,
rect.node-hover,
path.node-hover {
  stroke: #ff7f0e;
  stroke-width: 4px;
}

text.node-hover,
text.node-lobbyist-pinned {
  display: block !important;
}

.link-pinned,
.link-hover {
  stroke: #ff7f0e !important;
  stroke-width: 5px;
}

.label-group {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.label-group.label-visible,
.label-group.label-fixed,
.label-group.node-representative-selected,
.label-group.node-lobbyist-selected,
.label-group.node-directorate-selected,
.label-group.node-hover {
  opacity: 1;
}

.label-text {
  text-anchor: middle;
  pointer-events: none;
  fill: #004b87;
}

.node-lobbyist-draggable circle {
  fill: #b22222;
}