html, body {
    font-family: Tahoma, sans-serif !important;
}


.node-lobbyist-selected circle {
  stroke: #ff7f0e;
  stroke-width: 6px;
}

.node-lobbyist-selected text {
  display: block !important;
}

.link-selected {
  stroke: #ff7f0e !important;
  stroke-width: 8px;
}

.node-hover circle {
  stroke: #ff7f0e;
  stroke-width: 6px;
}

.node-hover text {
  display: block !important;
}

.link-hover {
  stroke: #ff7f0e;
  stroke-width: 6px;
}

@keyframes pulse-stroke {
  0%   { stroke-opacity: 1; }
  50%  { stroke-opacity: 0.3; }
  100% { stroke-opacity: 1; }
}

.node-lobbyist-draggable circle {
  stroke: #ff7f0e;
  stroke-dasharray: 10, 4;
  stroke-width: 6px;

  animation: pulse-stroke 1s infinite ease-in-out;
}

