html, body {
    font-family: Tahoma, sans-serif !important;
}


.node-lobbyist-selected circle {
  stroke: #ff7f0e;
  stroke-width: 3px;
}

.node-lobbyist-selected text {
  display: block !important;
}

.link-selected {
  stroke: #ff7f0e !important;
  stroke-width: 5px;
}

.node-hover circle {
  stroke: #ff7f0e;
}

.node-hover text {
  display: block !important;
}

.link-hover {
  stroke: #ff7f0e;
  stroke-width: 5px;
}


.lasso-box {
  pointer-events: none;
}
