DB Populator.zip
desktop.ini
Web Application.zip
0.docx
1.docx
2.docx
99.docx
Images/dettaglio_evoluzione_meeting.png
Images/direzioni_generali_meeting.png
Images/Distribuzione dei lobbyist per numero di settori di interesse.png
Images/Distribuzione dei lobbyist per paese.png
Images/distribuzione_dg_rappresentanti_separati.png
Images/distribuzione_dg_rappresentanti.png
Images/distribuzione_meeting_rappresentanti_corretto.png
Images/distribuzione_rappresentanti_DG.png
Images/rappresentanti_lobbisti_unici.png
Images/relazioni_frequenti_lobbisti_rappresentanti_compatto.png
Images/top_20_rappresentanti_iniziali.png
DB Populator/graphs/generatore di grafici.py
Presentazione ACOI breve.pptx
Presentazione ACOI estesa.pptx
Registrazione 2025-03-27 005515.mp4
Scaletta presentazione.docx
Registrazione breve 2025-04-01 002535.mp4
CB - Tesi di Laurea Magistrale.pdf
CB - Tesi ACOI.docx
