<div class="filter-mask" [class.collapsed]="collapsed">
  <div class="toggle-btn" (click)="toggleFilter()">
    {{ collapsed ? '❯' : '❮' }}
  </div>
  <div class="filter-container" *ngIf="!collapsed">
    <h2 class="title">Filters</h2>
    <div class="filter-scrollable">
      <!-- Period -->
      <div class="filter-group">
        <label>Period:</label>
        <div class="date-container">
          <input type="date" [(ngModel)]="startDate" class="input-date" (change)="validateDates()" [class.error]="dateErrors.startDateEmpty">
          <span class="separator"> - </span>
          <input type="date" [(ngModel)]="endDate" class="input-date" (change)="validateDates()" [class.error]="dateErrors.endDateEmpty || dateErrors.endDateBeforeStart">
        </div>
        <div class="error-message" *ngIf="dateErrors.startDateEmpty"> Start date cannot be empty. </div>
        <div class="error-message" *ngIf="dateErrors.endDateEmpty"> End date cannot be empty. </div>
        <div class="error-message" *ngIf="dateErrors.endDateBeforeStart"> End date cannot be before start date. </div>
      </div>
      <!-- Accordion DG -->
      <div class="filter-group">
        <div class="accordion-header" (click)="toggleSection('directorates')"> Directorates ({{ selectedDirectorates.length === 0 ? 'All selected' : selectedDirectorates.length + ' selected' }}) <span class="arrow">{{ expandedSections.directorates ? '▲' : '▼' }}</span>
        </div>
        <div *ngIf="expandedSections.directorates" class="accordion-content">
          <input type="text" placeholder="Search DG..." [(ngModel)]="searchDirectorate" (input)="filterDirectorates()">
          <div class="multi-select">
            <ul>
              <li>
                <label>
                  <input type="checkbox" [checked]="isAnySelected(selectedDirectorates)" 
                         (change)="toggleAnySelection(selectedDirectorates)">
                  Any
                </label>
              </li>
              <li *ngFor="let dg of filteredDirectorates">
                <label>
                  <input type="checkbox" [checked]="isSelected(dg, selectedDirectorates, 'id')" (change)="toggleSelection(dg, selectedDirectorates, 'id')">
                  {{ dg.name }}
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Accordion Lobbyists -->
      <div class="filter-group">
        <div class="accordion-header" (click)="toggleSection('lobbyists')"> Lobbyists ({{ selectedLobbyists.length === 0 ? 'All selected' : selectedLobbyists.length + ' selected' }}) <span class="arrow">{{ expandedSections.lobbyists ? '▲' : '▼' }}</span>
        </div>
        <div *ngIf="expandedSections.lobbyists" class="accordion-content">
          <input type="text" placeholder="Search Lobbyists..." [(ngModel)]="searchLobbyist" (input)="filterLobbyists()">
          <div class="multi-select">
            <ul>
              <li>
                <label>
                  <input type="checkbox" [checked]="isAnySelected(selectedLobbyists)" 
                         (change)="toggleAnySelection(selectedLobbyists)">
                  Any
                </label>
              </li>
              <li *ngFor="let lob of paginatedLobbyists; trackBy: trackByLobbyist">
                <label>
                  <input type="checkbox"
                        [checked]="isSelected(lob, selectedLobbyists, 'lobbyist_id')"
                        (change)="toggleSelection(lob, selectedLobbyists, 'lobbyist_id')">
                  {{ lob.organization_name }}
                </label>
              </li>
            </ul>
          </div>
          <div class="pagination">
              <button (click)="goFirst()" [disabled]="page === 1">⏮ First</button>
              <button (click)="prevPage()" [disabled]="page === 1">◀ Prev</button>
              <span>
                Page 
                <input type="number" [(ngModel)]="pageInput" (keydown.enter)="goToPage()" 
                      [min]="1" [max]="totalPages" style="width: 60px; text-align: center;">
                / {{ totalPages }}
              </span>
              <button (click)="nextPage()" [disabled]="page === totalPages">Next ▶</button>
              <button (click)="goLast()" [disabled]="page === totalPages">Last ⏭</button>
            </div>
        </div>
      </div>
      <!-- Accordion Fields -->
      <div class="filter-group">
        <div class="accordion-header" (click)="toggleSection('fields')"> Fields of Interest ({{ selectedFields.length === 0 ? 'All selected' : selectedFields.length + ' selected' }}) <span class="arrow">{{ expandedSections.fields ? '▲' : '▼' }}</span>
        </div>
        <div *ngIf="expandedSections.fields" class="accordion-content">
          <input type="text" placeholder="Search Field..." [(ngModel)]="searchField" (input)="filterFields()">
          <div class="multi-select">
            <ul>
              <li>
                <label>
                  <input type="checkbox" [checked]="isAnySelected(selectedFields)" 
                         (change)="toggleAnySelection(selectedFields)">
                  Any
                </label>
              </li>
              <li *ngFor="let field of filteredFields">
                <label>
                  <input type="checkbox" [checked]="isSelected(field, selectedFields, 'field_id')" (change)="toggleSelection(field, selectedFields, 'field_id')">
                  {{ field.field_name }}
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Commissionersi -->
      <div class="filter-group">
        <div class="accordion-header" (click)="toggleSection('commissioners')">
          Eur. Comm. officials ({{ selectedCommissioners.length === 0 ? 'All selected' : selectedCommissioners.length + ' selected' }})
          <span class="arrow">{{ expandedSections.commissioners ? '▲' : '▼' }}</span>
        </div>

        <div *ngIf="expandedSections.commissioners" class="accordion-content">
          <div class="view-switch">
            <label><input type="radio" name="commView" value="flat" [(ngModel)]="viewMode"> Flat</label>
            <label><input type="radio" name="commView" value="tree" [(ngModel)]="viewMode"> By Cabinet</label>
          </div>

          <input type="text" placeholder="Search Commissioner or Cabinet..." [(ngModel)]="searchCommissioner" (input)="filterCommissioners()">

          <!-- Any -->
          <div>
            <ul>
              <li>
                <label>
                  <input type="checkbox" [checked]="isAnySelected(selectedCommissioners)"
                        (change)="toggleAnySelection(selectedCommissioners)">
                  Any
                </label>
              </li>
            </ul>
          </div>

          <!-- VISTA PIATTA -->
          <div *ngIf="viewMode === 'flat'" class="multi-select">
            <ul>
              <li *ngFor="let comm of filteredCommissioners">
                <label>
                  <input type="checkbox"
                        [checked]="isSelected(comm, selectedCommissioners, 'id')"
                        (change)="toggleSelection(comm, selectedCommissioners, 'id')">
                  {{ comm.name }}
                </label>
              </li>
            </ul>
          </div>


          <!-- VISTA AD ALBERO PER CABINET -->
          <div *ngIf="viewMode === 'tree'" class="cabinet-tree multi-select">
            <ul class="cabinet-list">
              <li *ngFor="let group of filteredCabinetGroups" class="cabinet-item">

                <!-- Titolo livello 1 -->
                <label class="cabinet-label"
                      [class.indeterminate]="isCabinetSomeSelected(group) && !isCabinetAllSelected(group)">
                  <input type="checkbox"
                        [checked]="isCabinetAllSelected(group)"
                        (change)="toggleCabinetSelection(group)">
                  Team member of {{ 'Commissioner ' + group.cabinetName || 'No cabinet' }}
                  <small>({{ group.reps.length + (group.cabinetRepresentativeId ? 1 : 0) }})</small>
                </label>

                <!-- Livello 2 -->
                <ul class="rep-list">

                  <li class="cabinet-self" *ngIf="group.cabinetRepresentativeId">
                    <label class="cabinet-self-label">
                      <input type="checkbox"
                            [checked]="isRepSelected(group.cabinetRepresentativeId)"
                            (change)="toggleCabinetRepSelection(group)">
                      <strong>{{ group.cabinetName }}</strong>
                    </label>
                  </li>

                  <li *ngFor="let rep of group.reps"
                      [hidden]="group.cabinetRepresentativeId && rep.id === group.cabinetRepresentativeId">
                    <label>
                      <input type="checkbox"
                            [checked]="isRepSelected(rep.id)"
                            (change)="toggleRepSelection(rep.id, rep.name)">
                      {{ rep.name }}
                    </label>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <!-- Accordion Keywords -->
      <div class="filter-group">
        <div class="accordion-header" (click)="toggleSection('keywords')"> Keywords ({{ keywords.length }} added) <span class="arrow">{{ expandedSections.keywords ? '▲' : '▼' }}</span>
        </div>
        <div *ngIf="expandedSections.keywords" class="accordion-content">
          <div class="filter-group">
            <label>Type of keyword filter:</label>
            <select [(ngModel)]="filterType">
              <option value="AND">AND</option>
              <option value="OR">OR</option>
            </select>
          </div>
          <input type="text" [(ngModel)]="keywordInput" placeholder="Add a keyword" (keydown.enter)="addKeyword()">
          <div class="keyword-list">
            <span *ngFor="let keyword of keywords" class="keyword">
              {{ keyword }}
              <span class="remove-keyword" (click)="removeKeyword(keyword)">×</span>
            </span>
          </div>
        </div>
      </div>
      <div class="filter-group">
        <div class="accordion-header" (click)="toggleSection('budget')">
            Estimated Annual Budget ({{ formatBudgetDisplay(minBudget, true) }} - {{ formatBudgetDisplay(maxBudget) }})
          <span class="arrow">{{ expandedSections.budget ? '▲' : '▼' }}</span>
        </div>
        <div *ngIf="expandedSections.budget" class="accordion-content">
          <div class="budget-inputs">
            <input type="number" [(ngModel)]="minBudget" placeholder="Min" class="input-budget" step="1000" min="0">
            <span class="separator"> - </span>
            <input type="number" [(ngModel)]="maxBudget" placeholder="Max" class="input-budget" step="1000" min="0">
          </div>
          <div class="error-message" *ngIf="minBudget != null && maxBudget != null && minBudget > maxBudget">
            Min budget cannot be greater than max budget.
          </div>
        </div>
      </div>
    </div> <!-- Closing scrollable filter -->
    <button class="apply-btn" (click)="addKeyword(); updateFilters()">Apply Filters</button>
  </div>
</div>